<div class="row-fluid">
<ul class="nav nav-tabs">
<li#if($tab_bar=="list") class="active" #end><a href="/professor_x_web/computer/list">列表</a></li>
<li#if($tab_bar=="add") class="active" #end><a href="/professor_x_web/computer/add">添加</a></li>
</ul>
</div>