                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class = "row-fluid">
                    ##<p class="text-info">&copy; Company 2015</p>
                </div>
            </div>
        </div>
    </body>
</html>