<style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    .sidebar-nav {
      padding: 9px 0;
    }

    @media (max-width: 980px) {
      /* Enable use of floated navbar text */
      .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
</style>
<div class="container">
    <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">可选操作</li>
              <li #if($side_bar=="report") class="active" #end><a href="/professor_x_web/report/list">报告列表</a></li>
              <li #if($side_bar=="chart") class="active" #end><a href="/professor_x_web/report/chart">图表</a></li>
            </ul>
          </div>
        </div>
        <div class="span9">