#set($top_menu="report")
#set($side_bar="chart")
#parse("shared/header.vm")
#parse("shared/top_menu.vm")
#parse("shared/report_side_bar.vm")
#if($reports && $reports.size()>0)
<div class="row-fluid">
  <form class="form-inline well well-small" action="" method="GET" id="find_form">
    <div class="control-group">
      <div class="controls">
        <div class="controls controls-row">
            <select id="report_id" name="report_id" class="input-medium">
                <option value="-1">请选择</option>
                #foreach ($report in $!reports)
                <option value=$report.id #if($report.id==$!reportId)selected="selected"#end>$!report.title</option>
                #end
            </select>
            <input type="text" id="start_time" name="start_time" class="input-small" value="$!startTime" placeholder="开始时间" />
            <input type="text" id="end_time" name="end_time" class="input-small" value="$!endTime"  placeholder="结束时间">
            <button type="submit" class="btn btn-primary">查询</button>
        </div>
      </div>
    </div>
  </form>
</div>
    #if ($charts && $charts.size() > 0)
        #set($i=1)
        #foreach ($chart in $charts)
            <div class="row-fluid">
                <span class="label label-success">$chart.title</span>
            </div>
            <div id="iamChart_$i" style="height:400px" class="row-fluid">
            #set($i = $i + 1)
            </div>
        #end
    #else
        <div class="row-fluid">
            <div class="hero-unit">
                <h2>没有和选择条件相匹配的结果</h2>
            </div>
        </div>
    #end
#else
<div class="row-fluid">
    <div class="hero-unit">
        <h2>没有可以展示的报告</h2>
    </div>
</div>
#end
<script language="javascript">
    $(document).ready(function(){
            $("#find_form").validate({
                rules: {
                    start_time: {
                        required: true,
                    },
                    end_time: {
                        required: true
                    }
                }
             });
            var duration = 0;
            #if ($!duration)
                duration = $!duration;
            #end
            $('#start_time').datepicker({
                onSelect: function(dateText, inst){
                var dtEnd = new Date();
                dtEnd.setTime(Date.parse(dateText) + duration * 86400000);
                $('#end_time').val($.datepicker.formatDate('yy-mm-dd', dtEnd));
              }
            });
            $('#end_time').datepicker();
    });
</script>
<script src="/professor_x_web/js/echarts-all.js"></script>
<script type="text/javascript">
    #set($i=1)
    #foreach ($chart in $charts)
    var iamChart_$i = echarts.init(document.getElementById('iamChart_$i'));
    option = {
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['TPS','平均RT','最小RT','最大RT','错误率']
        },
        toolbox: {
            show : true,
            feature : {
                mark : {show: true},
                dataView : {show: true, readOnly: false},
                magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : $!chart.concurrencys
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'TPS',
                    type:'line',
                    stack: '总量',
                    data:$!chart.tpses
                },
                {
                    name:'平均RT',
                    type:'line',
                    stack: '总量',
                    data:$!chart.averageRts
                },
                {
                    name:'最小RT',
                    type:'line',
                    stack: '总量',
                    data:$!chart.minRts
                },
                {
                    name:'最大RT',
                    type:'line',
                    stack: '总量',
                    data:$!chart.maxRts
                },
                {
                    name:'错误率',
                    type:'line',
                    stack: '总量',
                    data:$!chart.errorRates
                }
            ]
        };
    var iamC = iamChart_$i;
    iamC.setOption(option);
    #set($i=$i+1)
    #end
    </script>
#parse("shared/footer.vm")