#set($top_menu="report")
#set($side_bar="chart")
#parse("shared/header.vm")
#parse("shared/top_menu.vm")
#parse("shared/report_side_bar.vm")
#if($reports && $reports.size()>0)
<div class="row-fluid">
  <form class="form-inline well well-small" action="" method="GET" id="find_form">
    <div class="control-group">
      <div class="controls">
        <div class="controls controls-row">
            <select id="report_id" name="report_id" class="input-medium">
                <option>请选择</option>
                #foreach ($report in $!reports)
                <option value=$report.id>$!report.title</option>
                #end
            </select>
            <input type="text" id="start_time" name="start_time" class="input-small" value="" placeholder="开始时间" />
            <input type="text" id="end_time" name="end_time" class="input-small" value=""  placeholder="结束时间">
            <button type="submit" class="btn btn-primary">查询</button>
        </div>
      </div>
    </div>
  </form>
</div>
#else
<div class="row-fluid">
    <div class="hero-unit">
        <h2>没有和选择条件相匹配的结果!</h2>
    </div>
</div>
#end
<script language="javascript">
    $(document).ready(function(){
            $("#find_form").validate({
                   rules: {
                       start_time: {
                           required: true,
                       },
                       end_time: {
                           required: true
                       }
                   }
             });
            var duration = 1;
            #if ($!duration)
                duration = $!duration;
            #end
            $('#start_time').datepicker({
                onSelect: function(dateText, inst){
                var dtEnd = new Date();
                dtEnd.setTime(Date.parse(dateText) + duration * 86400000);
                $('#end_time').val($.datepicker.formatDate('yy-mm-dd', dtEnd));
              }
            });
            $('#end_time').datepicker();
    });
</script>
#parse("shared/footer.vm")