#set($top_menu="report")
#set($side_bar="report")
#set($tab_bar="list")
#parse("shared/header.vm")
#parse("shared/top_menu.vm")
#parse("shared/report_side_bar.vm")
#parse("shared/report_tab_bar.vm")
<div class="row-fluid">
#if($reports && $reports.size()>0)
<table class="table">
  <thead>
    <tr>
        <th>ID</th>
        <th>标题</th>
        <th>概括</th>
        <th>机器</th>
        <th>状态</th>
        <th>创建时间</th>
    </tr>
  </thead>
  <tbody>
    #set($i=1)
    #foreach($report in $reports)
    <tr>
        <td>$i</td>
        <td>$!report.title</td>
        <td>$!report.summary</td>
        <td>$!report.computerIds</td>
        <td>$!report.status</td>
        <td>$!DateUtil.formatForDate1($!report.createTime)</td>
    </tr>
    #set($i = $i + 1)
    #end
  </tbody>
</table>
#else
<div class="hero-unit">
    <h2>去添加报告吧!</h2>
</div>
#end
</div>
#parse("shared/footer.vm")