<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>

    <settings>
        <setting name="cacheEnabled" value="true"/>
        <!--        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>-->
    </settings>

    <typeAliases>
        <typeAlias type="com.br.professor_x_web.model.User" alias="User"/>
    </typeAliases>

    <mappers>
        <mapper resource="UserMapper.xml" />
    </mappers>

</configuration>