<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.professor_x_web.mapper.ReportMapper" >
    <resultMap id="BaseResultMap" type="com.github.professor_x_web.model.Report" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="computer_ids" property="computerIds" jdbcType="VARCHAR" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.github.professor_x_web.model.ReportWithBLOBs" extends="BaseResultMap" >
        <result column="describe" property="describe" jdbcType="LONGVARCHAR" />
        <result column="content" property="content" jdbcType="LONGVARCHAR" />
        <result column="summary" property="summary" jdbcType="LONGVARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, user_id, computer_ids, title, status, create_time
    </sql>
    <sql id="Blob_Column_List" >
        `describe`, content, summary
    </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from report
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectSelective" resultMap="ResultMapWithBLOBs" parameterType="com.github.professor_x_web.model.ReportWithBLOBs" >
        select 
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from report
        where 1=1
        <if test="userId != null" >
            and user_id = #{userId,jdbcType=INTEGER}
        </if>
        <if test="computerIds != null" >
            and computer_ids = #{computerIds,jdbcType=VARCHAR}
        </if>
        <if test="title != null" >
            and title = #{title,jdbcType=VARCHAR}
        </if>
        <if test="status != null" >
            and status = #{status,jdbcType=INTEGER}
        </if>
        <if test="createTime != null" >
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="describe != null" >
            and `describe` = #{describe,jdbcType=LONGVARCHAR}
        </if>
        <if test="content != null" >
            and content = #{content,jdbcType=LONGVARCHAR}
        </if>
        <if test="summary != null" >
            and summary = #{summary,jdbcType=LONGVARCHAR}
        </if>
    </select>
    <select id="selectAllSelective" resultMap="ResultMapWithBLOBs" parameterType="com.github.professor_x_web.model.ReportWithBLOBs" >
        select 
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from report
        where 1=1
        <if test="userId != null" >
            and user_id = #{userId,jdbcType=INTEGER}
        </if>
        <if test="computerIds != null" >
            and computer_ids = #{computerIds,jdbcType=VARCHAR}
        </if>
        <if test="title != null" >
            and title = #{title,jdbcType=VARCHAR}
        </if>
        <if test="status != null" >
            and status = #{status,jdbcType=INTEGER}
        </if>
        <if test="createTime != null" >
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="describe != null" >
            and `describe` = #{describe,jdbcType=LONGVARCHAR}
        </if>
        <if test="content != null" >
            and content = #{content,jdbcType=LONGVARCHAR}
        </if>
        <if test="summary != null" >
            and summary = #{summary,jdbcType=LONGVARCHAR}
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from report
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.github.professor_x_web.model.ReportWithBLOBs" >
        insert into report (id, user_id, computer_ids, 
        title, status, create_time, 
        `describe`, content, summary
        )
        values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{computerIds,jdbcType=VARCHAR}, 
        #{title,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
        #{describe,jdbcType=LONGVARCHAR}, #{content,jdbcType=LONGVARCHAR}, #{summary,jdbcType=LONGVARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.github.professor_x_web.model.ReportWithBLOBs" >
        insert into report
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="computerIds != null" >
                computer_ids,
            </if>
            <if test="title != null" >
                title,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="describe != null" >
                `describe`,
            </if>
            <if test="content != null" >
                content,
            </if>
            <if test="summary != null" >
                summary,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="computerIds != null" >
                #{computerIds,jdbcType=VARCHAR},
            </if>
            <if test="title != null" >
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="describe != null" >
                #{describe,jdbcType=LONGVARCHAR},
            </if>
            <if test="content != null" >
                #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="summary != null" >
                #{summary,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.github.professor_x_web.model.ReportWithBLOBs" >
        update report
        <set >
            <if test="userId != null" >
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="computerIds != null" >
                computer_ids = #{computerIds,jdbcType=VARCHAR},
            </if>
            <if test="title != null" >
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="describe != null" >
                `describe` = #{describe,jdbcType=LONGVARCHAR},
            </if>
            <if test="content != null" >
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="summary != null" >
                summary = #{summary,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.github.professor_x_web.model.ReportWithBLOBs" >
        update report
        set user_id = #{userId,jdbcType=INTEGER},
        computer_ids = #{computerIds,jdbcType=VARCHAR},
        title = #{title,jdbcType=VARCHAR},
        status = #{status,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        `describe` = #{describe,jdbcType=LONGVARCHAR},
        content = #{content,jdbcType=LONGVARCHAR},
        summary = #{summary,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.github.professor_x_web.model.Report" >
        update report
        set user_id = #{userId,jdbcType=INTEGER},
        computer_ids = #{computerIds,jdbcType=VARCHAR},
        title = #{title,jdbcType=VARCHAR},
        status = #{status,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>