<?xml version='1.0' encoding='UTF-8' ?>
<configuration scan="true" debug="true">
    <property name="REALM_ID" value="professor_x_web" />
    <property name="LOG_HOME_DIR" value="./professor_x_web" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>USER.LOGIN</marker>
            </evaluator>
            <OnMismatch>ACCEPT</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>
                [%date{yyyy-MM-dd HH:mm:ss}]\t[%thread] %-5level %logger{0} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>USER.LOGIN</marker>
            </evaluator>
            <OnMismatch>ACCEPT</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>
        <file>${LOG_HOME_DIR}/${REALM_ID}-console.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME_DIR}/${REALM_ID}-console.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>
                [%date{yyyy-MM-dd HH:mm:ss}]\t[%thread] %-5level %logger{0} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMismatch>DENY</onMismatch>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <file>${LOG_HOME_DIR}/${REALM_ID}-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME_DIR}/${REALM_ID}-error.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%date{yyyy-dd-MM HH:mm:ss}]\t%msg%n</pattern>
        </encoder>
    </appender>

    <!--TRACE, DEBUG, INFO, WARN, ERROR, ALL and OFF-->
    <root level="TRACE">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ERROR_LOG" />
    </root>
</configuration>