#set($top_menu="computer")
#set($side_bar="computer")
#set($tab_bar="edit")
#parse("shared/header.vm")
#parse("shared/top_menu.vm")
#parse("shared/computer_side_bar.vm")
<div class="row-fluid">
<ul class="nav nav-tabs">
    <li #if($!computerComponentTypeId == $!CPU.id) class="active" #end><a href="/professor_x_web/computer/edit/$!computerId/$!CPU.id">CPU</a></li>
    <li #if($!computerComponentTypeId == $!MEMORY.id) class="active" #end><a href="/professor_x_web/computer/edit/$!computerId/$!MEMORY.id">内存</a></li>
    <li #if($!computerComponentTypeId == $!DIST.id) class="active" #end><a href="/professor_x_web/computer/edit/$!computerId/$!DIST.id">磁盘</a></li>
    <li #if($!computerComponentTypeId == $!SOLID_DIST.id) class="active" #end><a href="/professor_x_web/computer/edit/$!computerId/$!SOLID_DIST.id">固盘</a></li>
    <li #if($!computerComponentTypeId == $!NERWORK_CARD.id) class="active" #end><a href="/professor_x_web/computer/edit/$!computerId/$!NERWORK_CARD.id">网卡</a></li>
</ul>
</div>
#if($!computerComponentTypeId == $!CPU.id)
<div class="row-fluid">
<form id="computer_form" class="form-horizontal" action="/professor_x_web/computer/do_edit" method="post">
    <fieldset>
    <legend>CPU</legend>
    <div class="control-group">
    <label class="control-label" for="">品牌</label>
        <div class="controls">
        #springBind("Cpu.model")
        <input id="${status.expression}" name="${status.expression}" type="text" class="input-xlarge" placeholder="i7-6700..." value="$!status.value">
        #if ($!{status.errorMessage}) <p class="text-error">$!{status.errorMessage}</p> #end
        <input id="computerId" name="computerId" type="hidden" value = $!computerId value="$!computerId">
        <input id="computerComponentTypeId" name="computerComponentTypeId" type="hidden" value = $!computerComponentTypeId>
        </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="">核心数</label>
        <div class="controls">
        #springBind("Cpu.coreNum")
        <input id="${status.expression}" name="${status.expression}" type="text" class="input-xlarge" placeholder="单位:核" value="$!status.value">
        #if ($!{status.errorMessage}) <p class="text-error">$!{status.errorMessage}</p> #end
        </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="">频率</label>
        <div class="controls">
        #springBind("Cpu.frequency")
        <input id="${status.expression}" name="${status.expression}" type="text" class="input-xlarge" placeholder="单位:GHZ" value="$!status.value">
        #if ($!{status.errorMessage}) <p class="text-error">$!{status.errorMessage}</p> #end
        </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="">描述</label>
        <div class="controls">
        #springBind("Cpu.describe")
        <input id="${status.expression}" name="${status.expression}" type="text" class="input-xlarge" placeholder="可以根据sysbench测试的指标" value="$!status.value">
        #if ($!{status.errorMessage}) <p class="text-error">$!{status.errorMessage}</p> #end
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
        <button id="submit" type="text" class="btn btn-large btn-primary">保存</button>
        </div>
    </div>
</fieldset>
</form>
</div>
#end
#if($!computerComponentTypeId == $!MEMORY.id)
<div class="row-fluid">
<form id="computer_form" class="form-horizontal" action="/professor_x_web/computer/do_edit" method="post">
    <fieldset>
    <legend>内存</legend>
    <div class="control-group">
    <label class="control-label" for="">品牌</label>
        <div class="controls">
        #springBind("Mem.model")
        <input id="${status.expression}" name="${status.expression}" type="text" class="input-xlarge" placeholder="DDR4 2133..." value="$!status.value">
        #if ($!{status.errorMessage}) <p class="text-error">$!{status.errorMessage}</p> #end
        <input id="computerId" name="computerId" type="hidden" value = $!computerId value="$!computerId">
        <input id="computerComponentTypeId" name="computerComponentTypeId" type="hidden" value = $!computerComponentTypeId>
        </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="">容量</label>
        <div class="controls">
        #springBind("Mem.capacity")
        <input id="${status.expression}" name="${status.expression}" type="text" class="input-xlarge" placeholder="单位:G" value="$!status.value">
        #if ($!{status.errorMessage}) <p class="text-error">$!{status.errorMessage}</p> #end
        </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="">描述</label>
        <div class="controls">
        #springBind("Mem.describe")
        <input id="${status.expression}" name="${status.expression}" type="text" class="input-xlarge" placeholder="可以根据sysbench测试的指标" value="$!status.value">
        #if ($!{status.errorMessage}) <p class="text-error">$!{status.errorMessage}</p> #end
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
        <button id="submit" type="text" class="btn btn-large btn-primary">保存</button>
        </div>
    </div>
</fieldset>
</form>
</div>
#end
#if($!computerComponentTypeId == $!DIST.id)
<div class="row-fluid">
<form id="computer_form" class="form-horizontal" action="/professor_x_web/computer/do_edit" method="post">
    <fieldset>
    <legend>磁盘</legend>
    <div class="control-group">
    <label class="control-label" for="">品牌</label>
        <div class="controls">
        #springBind("Dist.model")
        <input id="${status.expression}" name="${status.expression}" type="text" class="input-xlarge" placeholder="希捷 Seagate" value="$!status.value">
        #if ($!{status.errorMessage}) <p class="text-error">$!{status.errorMessage}</p> #end
        <input id="computerId" name="computerId" type="hidden" value = $!computerId value="$!computerId">
        <input id="computerComponentTypeId" name="computerComponentTypeId" type="hidden" value = $!computerComponentTypeId>
        </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="">容量</label>
        <div class="controls">
        #springBind("Dist.capacity")
        <input id="${status.expression}" name="${status.expression}" type="text" class="input-xlarge" placeholder="单位:G" value="$!status.value">
        #if ($!{status.errorMessage}) <p class="text-error">$!{status.errorMessage}</p> #end
        </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="">转速</label>
        <div class="controls">
        #springBind("Dist.speed")
        <input id="${status.expression}" name="${status.expression}" type="text" class="input-xlarge" placeholder="单位:转/分钟" value="$!status.value">
        #if ($!{status.errorMessage}) <p class="text-error">$!{status.errorMessage}</p> #end
        </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="">描述</label>
        <div class="controls">
        #springBind("Dist.describe")
        <input id="${status.expression}" name="${status.expression}" type="text" class="input-xlarge" placeholder="可以根据sysbench测试的指标" value="$!status.value">
        #if ($!{status.errorMessage}) <p class="text-error">$!{status.errorMessage}</p> #end
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
        <button id="submit" type="text" class="btn btn-large btn-primary">保存</button>
        </div>
    </div>
</fieldset>
</form>
</div>
#end
#if($!computerComponentTypeId == $!SOLID_DIST.id)
<div class="row-fluid">
<form id="computer_form" class="form-horizontal" action="/professor_x_web/computer/do_edit" method="post">
    <fieldset>
    <legend>固盘</legend>
    <div class="control-group">
    <label class="control-label" for="">品牌</label>
        <div class="controls">
        #springBind("SolidDist.model")
        <input id="${status.expression}" name="${status.expression}" type="text" class="input-xlarge" placeholder="东芝Q300 960G" value="$!status.value">
        #if ($!{status.errorMessage}) <p class="text-error">$!{status.errorMessage}</p> #end
        <input id="computerId" name="computerId" type="hidden" value = $!computerId value="$!computerId">
        <input id="computerComponentTypeId" name="computerComponentTypeId" type="hidden" value = $!computerComponentTypeId>
        </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="">容量</label>
        <div class="controls">
        #springBind("SolidDist.capacity")
        <input id="${status.expression}" name="${status.expression}" type="text" class="input-xlarge" placeholder="单位:G" value="$!status.value">
        #if ($!{status.errorMessage}) <p class="text-error">$!{status.errorMessage}</p> #end
        </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="">描述</label>
        <div class="controls">
        #springBind("SolidDist.describe")
        <input id="${status.expression}" name="${status.expression}" type="text" class="input-xlarge" placeholder="可以根据sysbench测试的指标" value="$!status.value">
        #if ($!{status.errorMessage}) <p class="text-error">$!{status.errorMessage}</p> #end
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
        <button id="submit" type="text" class="btn btn-large btn-primary">保存</button>
        </div>
    </div>
</fieldset>
</form>
</div>
#end
#if($!computerComponentTypeId == $!NERWORK_CARD.id)
<div class="row-fluid">
<form id="computer_form" class="form-horizontal" action="/professor_x_web/computer/do_edit" method="post">
    <fieldset>
    <legend>网卡</legend>
    <div class="control-group">
    <label class="control-label" for="">品牌</label>
        <div class="controls">
        #springBind("NetworkCard.model")
        <input id="${status.expression}" name="${status.expression}" type="text" class="input-xlarge" placeholder="BL-P8168" value="$!status.value">
        #if ($!{status.errorMessage}) <p class="text-error">$!{status.errorMessage}</p> #end
        <input id="computerId" name="computerId" type="hidden" value = $!computerId value="$!computerId">
        <input id="computerComponentTypeId" name="computerComponentTypeId" type="hidden" value = $!computerComponentTypeId>
        </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="">速度</label>
        <div class="controls">
        #springBind("NetworkCard.speed")
        <input id="${status.expression}" name="${status.expression}" type="text" class="input-xlarge" placeholder="单位:Mbps" value="$!status.value">
        #if ($!{status.errorMessage}) <p class="text-error">$!{status.errorMessage}</p> #end
        </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="">描述</label>
        <div class="controls">
        #springBind("NetworkCard.describe")
        <input id="${status.expression}" name="${status.expression}" type="text" class="input-xlarge" placeholder="可以根据sysbench测试的指标" value="$!status.value">
        #if ($!{status.errorMessage}) <p class="text-error">$!{status.errorMessage}</p> #end
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
        <button id="submit" type="text" class="btn btn-large btn-primary">保存</button>
        </div>
    </div>
</fieldset>
</form>
</div>
#end
#parse("shared/footer.vm")